.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    display: flex;
    align-items: center;
}

.icon {
    color: #54AFE4;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 15px;
}

.company-name {
    display: flex;
    align-items: center;
}

.job-title {
    font-weight: 500;
    color: black;
}

.name {
    font-size: 14px;
    font-weight: bold;
}

.duration {
    color: rgb(124, 121, 121);
    font-weight: 300;
}

.company-logo {
    padding-right: 10px;
    width: 20px;
}

.company-logo>img {
    width: 100%;
}

.cont {
    text-decoration: none;
    font-style: normal;
}

.university-container,
.project-container {
    display: flex;
    align-items: center;
}

.university-img {
    width: 25px;
    margin-right: 15px;
}

.project-img {
    width: 33px;
    margin-left: 2px;
    margin-right: 5px;
}

.project-img>i {
    font-size: 20px;
}

.university-img>img {
    width: 100%;
}

body {
    background: #eee;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    margin: 0px;
}

.resume {
    width: 800px;
    height: 1170px;
    background: #fff;
    padding: 40px;
}

.header {
    margin-bottom: 0px;
}

.full-name {
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-top: 15px;
}

.first-name {
    font-weight: 400;
    margin-right: 8px;
}

.last-name {
    font-weight: 300;
}

.email,
.phone {
    color: #999;
    font-weight: 300;
}

.separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
}

.position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
}

.details {
    margin-top: 20px;
    line-height: 20px;
}

.section {
    margin-bottom: 15px;
    padding-top: 15px;
}

.section:last-of-type {
    margin-bottom: 0px;
}

.section__title {
    font-size: 14px;
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section__list-item {
    margin-top: 14px;
    margin-bottom: 20px;
    height: 90px;
}

.education__list-item,
.project__list-item {
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 20px;
    height: 35px;
}

#mcgill {
    height: 70px;
}

.section__list-item:last-of-type {
    height: 75px;
    margin-bottom: 0;
}

.left,
.right,
.education-right {
    vertical-align: top;
    display: inline-block;
    height: 100%;
}

.left {
    width: 25%;
}

.education-right,
.project-right {
    color: black;
    font-size: 12px;
    font-weight: 300;
    width: 74%;
    display: flex;
}

.education-subject {
    width: 80%;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
}

.education-grade {
    display: flex;
    align-items: top;
    justify-content: flex-end;
    width: 20%;
    font-size: 12px;
}

.grade {
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.right {
    color: black;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    width: 74%;
}

.right>ul {
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
    color: #000;
}

.skills {
    font-weight: 300;
    font-size: 12px;
    display: flex;
}

.skills>ul {
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
}

.skills>ul:last-of-type {
    margin-left: 40px;
}
